<section>
<p>Users List</p>
  <% @users.each do |user| %>
    <div class='card'>
      <p>
        <strong><%= user.name %></strong>
        <span>Created Events: <%= user.created_events.count %></span>
        <span>Visited Events: <%= user.attendances.count %></span>
      </p>
    </div>
  <% end %>
</section>