<h1>All Events</h1>
<div>
  <% @events.each do |event| %>
    <p>Creator: <%= show_creator(event) %>
    <p>Event: <%= link_to @event.title, event_path(event) %></p>
    <p>Place: <%= @event.place %></p>
    <p>Date: <%= @event.date %></p>
    <button>Interested</button>
    <p>*   *   *   *   *</p>
  <% end %>
</div>
